
}

p {
    line-height: 1.75;
    margin-left: 100px;
}

.styled_link {
    font-weight: 400;
    text-decoration: none;
    color: #003366;
    position: relative;
}

.styled_link:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: inherit;
    transition: all 0.2s ease-in-out;
}

#wharton_link:after {
    background-color:  #004785;
}

#weiss_link:after {
    background-color:  #672d91;
}

#ocp_link:after {
    background-color: #a90533;
}

#amex_link:after {
    background-color: #026fcf;
}

#mongo_link:after {
    background-color:  #13aa52;
}

#mc_link:after {
    background-color: #0eabbc;
}

#job_link:after {
    background-color: #4e81e4;
}

#kitchen_link:after {
    background-color: #f4644c;
}

#stat_link:after {
    background-color: #79c8ed;
}

.styled_link:hover:after {
    visibility: visible;
    width: 100%;
}

ul li {
    padding-bottom: 8px;
    margin-left: 100px;
}

footer {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    padding-left: 96px;
    margin-top: 35px;
}

.contact_icons a {
    text-decoration: none;
    font-size: 8px;
}

.contact_icons a:hover {
    opacity: .7;
}

.fa-circle{
    color: #003366;
}
